*.o
*.obj
*.sdf

.vs
.vscode
.DS_Store

/simulator
/node_modules

/frameworks/**/[Dd]ebug.*
/frameworks/**/[Rr]elease.*
/frameworks/runtime-src/proj.win32/cocos-typescript.sdf
/frameworks/runtime-src/proj.win32/cocos-typescript.opensdf